.menu {
    padding-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    padding: 7px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }
    .title {
        margin-left: 10px;
    }
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}

@media (max-width: 1071px) {
    .title {
        display: none;
    }
    .menu-item {
        justify-content: center;
        margin: 7px;
        border-radius: 4px;
    }
}
