.menu-body {
    padding: 10px 5px;
    min-width: 280px;
    max-height: 448px;
    overflow: auto;
    .down-menu {
        display: block;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

// Menu item

.body-menuItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 12px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    .text-link {
        margin-left: 12px;
        font-size: 1.6rem;
        color: var(--text-color);
    }
}
