.wrapper {
    width: var(--width-sidebar);
    padding-left: 12px;
    hr {
        border-color: rgba(23, 25, 38, 0.06);
    }
}
.container {
    background-color: var(--white);
    bottom: 0;
    overflow-y: auto;
    padding: 0 20px 26px 8px;
    position: fixed;
    width: inherit;
    top: var(--default-layout-header-height);
    &:not(:hover)::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}
